<!DOCTYPE html>

<html>

<head>
  <title>ct web publisher</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" type="text/css" href="dist/css/app.css">
</head>

<body ng-Controller="CtController" ng-app="ctApp">
  <div class="off-canvas-wrapper-inner" ng-class="{'is-open-right': !offCanvasOpen}">
    <div class="off-canvas position-right" style="">
      <button class="close-button" aria-label="Close menu" type="button" ng-click="offCanvasOpen=!offCanvasOpen"><span aria-hidden="true">×</span></button>
      <ng-include src="'ct-editor-sidebar.html'" />
    </div>
    <div class="off-canvas-content">
      <button class="button float-right" ng-click="offCanvasOpen = !offCanvasOpen"><i class="fa fa-edit"></i></button>
    </div>
  </div>
  <div class="row">
    <div class="columns medium-6" ng-drop="true" ng-drop-success="onDropComplete1($data,$event)">
      <h1><span contenteditable="true">{{page.title}}</span></h1>
      <div style="z-index: 0" ng-repeat="obj in droppedObjects1" ng-drag="true" ng-drag-data="obj"
       ng-drag-success="onDragSuccess1($data,$event)" ng-center-anchor="{{centerAnchor}}">{{obj.name}}
      </div>
    </div>
    <div class="columns medium-6">
      <ng-include src"'pages/story-01.html'" />
    </div>
  </div>
  <div class="row">
    <div id="footer" class="columns small-12"><p>Footer</p></div>
  </div>

  <script src="dist/js/angular.min.js"></script>
  <script src="dist/js/ngDraggable.js"></script>
  <script src="dist/js/ace.js"></script>
  <script src="app.js"></script>

</body>
</html>
