[ng-drag] {
  cursor: move;
  border: ridge 2px $primary-color;
} 

[ng-drag].dragging { 
  height: 20em;
}
[ng-drag].drag-over, [ng-drag].drag-enter, [ng-drop].drag-enter {
    border: solid 2px $success-color;
    font-weight: bold;
}

[ng-drop] div {
    position: relative;
    z-index: 2;
}
/*
editor-panel {
    height: 40%;
    position: fixed;
    bottom: 0px;
    left: 0px;
    line-height: 50px;
    color: #aaa;
    text-align: center;
    width: 100%;
}*/

.off-canvas-wrapper-inner {
    position: absolute;
    min-height: 100vh;
}
.off-canvas { padding: 1em; }
           
