<i class="fa fa-file-code-o"> ct-page: {{page.slug}}</i>
<br />
<button class="button x-small float-right" ng-click="publish()"><i class="fa fa-cloud-upload"></i>&nbsp;Publish</button>
<br />
<label>Title<input type="text" ng-model="page.title" ng-keyup="setSlug(page.title)" required>
</label>
<label>Slug
<input type="text" ng-model="page.slug" required>
</label>

<i class="fa fa-tag" ng-repeat="tag in page.tags" /><u contenteditable="true"><i>{{tag}}</i></u>
  <a class="fa fa-close" ng-click="deleteItem()"></a>
</i>
<br />
<button class="button small" ng-click="addItem()">Add Tag</button>

<ul class="vertical accordion">
  <li ng-repeat="node in tree" ng-include="'tree_item_renderer.html'"></li>

  <li ng-drag="true" ng-drag-data="{name:'ct-richtext'}" data-allow-transform="true" class="fa fa-align-left">&nbsp;ct-richtext</li>
  <li ng-drag="true" ng-drag-data="{name:'ct-image'}" data-allow-transform="true" class="fa fa-image">&nbsp;ct-image</li>
  <li ng-drag="true" ng-drag-data="{name:'ct-carousel'}" data-allow-transform="true" class="fa fa-image">&nbsp;ct-carousel</li>

  <li ng-drag="true" ng-drag-data="{name:'ct-grid'}" data-allow-transform="true" class="fa fa-table">&nbsp;ct-grid</li>
</ul>



<script type="text/ng-template"  id="tree_item_renderer.html">
      <a ng-init="node.isOpen=true" ng-click="node.isOpen = !node.isOpen">
      <i
        ng-class="{'fa fa-chevron-down': node.isOpen, 'fa fa-chevron-right': !node.isOpen}"></i>
      </a>
      <span ng-hide="editing" ng-click="editing = true">{{node.name}} </span> 
       <form ng-show="editing" ng-submit="editing = false">
         <input ng-show="editing" type="text" ng-model="node.name" placeholder="Node Name" />
       </form>
      <a ng-click="add(node)"><i class="fa fa-plus"></i></a>
      <a ng-click="delete(node)" ng-show="node.nodes.length >= 0"><i class="fa fa-remove"></i></a>
    <ul ng-show="node.isOpen"> 
      <li ng-repeat="node in node.nodes" ng-drag="true" ng-drag-data="{name: node.name}" ng-include="'tree_item_renderer.html'">
      </li>
    </ul>
</script>
